/* ===== Star Rating ===== */

.rating,
.detail-rating {
    display: flex;
    align-items: center;
    gap: 3px;
    color: #ffd45c;
}

/* Individual Star */
.star {
    position: relative;
    display: inline-block;
    font-size: 20px;
    line-height: 1;
    color: #444444;
}


/* Full Star */
.star.full {
    color: #ffd45c;
}


/* Half Star */
.star.half::before {
    content: "★";
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    overflow: hidden;
    color: #ffd45c;

}
